.field.field-name-field-2w-price.field-type-number-integer.field-label-inline.clearfix {
    font-size: 1.5em;
    font-weight: bold;
    color: crimson;
}
.field.field-name-field-price.field-type-number-integer.field-label-inline.clearfix {
font-size: 1.5em;
    font-weight: bold;
    color: crimson;

}