#logo a img{ width : 100%;height : auto;}
#logo{ padding : 5px 60% 0 5px;text-align : left;}
#header{ background-color : #e9e3e3;}
#footer{ background-color : #e9e3e3;}
.node-bdy p{ color : #ffffff;font-family : Arial;font-size : 12px;}
p{ color : #ffffff;font-family : Arial;font-size : 12px;}
#main-menu ul.menu li{ background : #ffffff;}
a{ color : #ffffff;text-decoration : none;font-family : Arial;font-size : 12px;}
#page{ background-color : #ffffff;}
#main-menu ul.menu li a{ color : #ffffff;}
h1{ color : #ffffff;font-size : 12px;}
h2{ color : #ffffff;font-size : 12px;}
h3{ color : #ffffff;font-size : 12px;}
